{% extends 'BBMainBundle:Default:base.html.twig' %}
{% block toolbar %}
<ul>
    <li id="history-tb">Features</li>
    <li id="statistics-tb">Billing</li>
    <li id="account-tb">Something Else</li>
</ul>
{% endblock %}