/* 
    Document   : historyStyle
    Created on : Aug 21, 2012, 1:05:00 PM
    Author     : Matt
    Description:
        Purpose of the stylesheet follows.
*/

.session-div {
  border-radius: 15px;
  border: 1px solid darkcyan;
  background: black;
  margin-top: 10px;
  padding: 5px 0px;
  width: 100%;
}

.session-div span {
  margin-left: 10px;
  margin-right: 10px;
}

.session-details-wrapper {
  display: none;
}

.session-details {
  border: 1px solid #7f3706;
  border-top-width: 0px;
  background: #161616;
  margin: 0 15px;
  display:inline-table;
  width: 910px;
}

.session-bowlers, .session-games {
  padding-bottom: 10px;
  display: table-cell;
}
.session-games {
  padding: 5px;
  padding-right: 0px;
}

.game-list-header {
  display:inline;
  width:100%;
}

.game-list-title {
  color:#ff6700;
  margin-left: 10px;
} 

.game-list-add {
  float:right;
  margin-right: 5px;
}

.session-bowlers h3 {
  margin-left: 10px;
}


.session-bowlers {
  border-right: 1px solid #7f3706;
  width: 250px;
  height: 100%;
  overflow: no-display;
  padding: 5px;
}

.session-games {
  margin-left: 0;
}

.game-header {
  display:block;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #7f3706;
  border-right-width: 0px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;
}

.game-title {
}

.edit-game {
  float: right;
}

.game-details {
  display: none;
  margin-left: 15px;
  margin-bottom: -5px;
  border-left: 1px solid #7f3706;
}

.game-details-wrapper {
  display: inline-table;
  margin-bottom: -3px;
  width: 100%;
}

.frame-edit, .string-list {
  display: table-cell;

}

.frame-edit {
  height: 300px;
  width: 240px;
  border-right: 1px solid #7f3706;
}

.string-table {
  width: 100%;
  border-collapse: collapse;
}

.string-table td, .string-table th {
  border-bottom: 1px solid #7f3706;
}
.string-header th .first {
  padding-left: 5px;
}

.string-table .frame-header,
.string-table .frame,
.string-table .tenth-frame {
  border-left: 1px solid #7f3706;
  padding: 0px;
}



.frame-column {
  width: 6%;
}

.tenth-frame-column {
  width: 9%;
}

.name-column {
}


.name-cell {
  padding: 5px;
}

.throw-score div {
  display:inline-block;
}

.frame {
  width: 7%;
}

.tenth-frame {
  width: 9%;
  border-right-width: 0px;
}

.frame .throw-score div {
  width: 30%;
}

.tenth-frame .throw-score div {
  width: 20%;
}

.second, .third {
  border-left: 1px solid #7f3706;
}

.frame-score {
  border-top:  1px solid #7f3706;
}

.frame, .tenth-frame {
  text-align: center;
}
.add-bowler-to-game {
  position: relative;
}
.add-bowler-to-game ul {
  display:none;
  padding: 5px;
  list-style-type: none;
  position: absolute;
  top: 19px;
  left: -2px;
  background: #161616;
  border: 1px solid #7f3706;
}

.add-bowler-to-game li {
  padding-top: 5px;
}
.add-bowler-to-game li:first-child {
  padding-top: 0px;
}
.add-bowler-to-game li a:link, 
.add-bowler-to-game li a:active, 
.add-bowler-to-game li a:hover, 
.add-bowler-to-game li a:visited {
  color: #ff6700;
  font-weight: normal;
}